<a href="https://colab.research.google.com/github/DevenSuji/MasteringPython/blob/master/Handling_CSV_Files_Conventional_Way.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Writing a CSV File

In [ ]:
import csv

In [2]:
with open('accounts.csv', mode='w', newline='') as accounts:
  writer = csv.writer(accounts)
  writer.writerow([100, 'Jones', 24.98])
  writer.writerow([200, 'Doe', 345.67])
  writer.writerow([300, 'White', 0.00])
  writer.writerow([400, 'Stone', -42.16])
  writer.writerow([500, 'Rich', 224.62])

In [3]:
!cat accounts.csv

100,Jones,24.98
200,Doe,345.67
300,White,0.0
400,Stone,-42.16
500,Rich,224.62

# Reading a CSV File

In [5]:
with open('accounts.csv', 'r', newline='') as accounts:
  print(f'{"Account":<10}{"Name":<10}{"Balance":>10}')
  reader = csv.reader(accounts)
  for record in reader:
    account, name, balance = record
    print(f'{account:<10}{name:<10}{balance:>10}')

Account   Name         Balance
100       Jones          24.98
200       Doe           345.67
300       White            0.0
400       Stone         -42.16
500       Rich          224.62

# Self Check
* Create a text file named grades.csv and write some records to it consisting of students ID, last names and letter grades.
* Then, read the file grades.csv and display it in columns with the column heads 'ID', 'Name'and 'Grades'

In [6]:
with open('grades.csv', mode='w', newline='') as grades:
  writer = csv.writer(grades)
  writer.writerow([1, 'Deven Suji', 98.77])
  writer.writerow([2, 'Pavithra M', 67.08])
  writer.writerow([3, 'Dhrishti Suji', 99.99])
  writer.writerow([4, 'Duganth Suji', 95.67])

In [7]:
!cat grades.csv

1,Deven Suji,98.77
2,Pavithra M,67.08
3,Dhrishti Suji,99.99
4,Duganth Suji,95.67

In [9]:
with open('grades.csv', mode='r', newline='') as grades:
  print(f'{"ID":<10}{"Name":<15}{"Grade":>10}')
  reader = csv.reader(grades)
  for item in reader:
    ID, Name, Grade = item
    print(f'{ID:<10}{Name:<15}{Grade:>10}')

ID        Name                Grade
1         Deven Suji          98.77
2         Pavithra M          67.08
3         Dhrishti Suji       99.99
4         Duganth Suji        95.67