<a href="https://colab.research.google.com/github/DevenSuji/MasteringPython/blob/master/PFDA1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Writing A File

In [2]:
cd /content/sample_data/JunkData

/content/sample_data/JunkData

In [3]:
pwd

'/content/sample_data/JunkData'

In [4]:
ls

In [5]:
with open('accounts.txt', mode='w') as accounts:
  accounts.write('100 Jones 24.98\n')
  accounts.write('200 Doe 345.67\n')
  accounts.write('300 White 0.00\n')
  accounts.write('400 Stone -42.16\n')
  accounts.write('500 Rich 224.62\n')

In [6]:
!ls

accounts.txt

In [7]:
!cat accounts.txt

100 Jones 24.98
200 Doe 345.67
300 White 0.00
400 Stone -42.16
500 Rich 224.62

# Self Check
### Create a grades.txt file and write to it the following three records consisting of student IDs, ;ast names and letter frades:
* 1 Red A
* 2 Green B
* 3 White A

In [11]:
with open('grades.txt', mode='w') as grades:
  grades.write('1 Red A\n')
  grades.write('2 Green B\n')
  grades.write('3 White C\n')

In [12]:
!cat grades.txt

1 Red A
2 Green B
3 White C

# Reading A File

In [13]:
with open('accounts.txt', mode='r') as accounts:
  print (f'{"Account":<10}{"Name":<10}{"Balance":>10}')
  for record in accounts:
    account, name, balance = record.split()
    print(f'{account:<10}{name:<10}{balance:>10}')

Account   Name         Balance
100       Jones          24.98
200       Doe           345.67
300       White           0.00
400       Stone         -42.16
500       Rich          224.62

/bin/bash: kubeadm: command not found

# Self Check
* Read the file grades.txt that you created in the previous section's self check and display it in columns with the heads 'ID', 'Name' and 'Grade'.

In [28]:
with open('grades.txt', mode='r') as grades:
  print(f'{"ID":<10}{"Name":<10}{"Grade":>10}')
  for grade in grades:
    ID, Name, Grade = grade.split()
    print(f'{ID:<10}{Name:<10}{Grade:>10}')

ID        Name           Grade
1         Red                A
2         Green              B
3         White              C

# Updating Text Files

In [39]:
accounts = open('accounts.txt', 'r')

In [40]:
temp_file = open('temp_file.txt', 'w')

In [41]:
with accounts, temp_file:
  for record in accounts:
    account, name, balance = record.split()
    if account != '300':
      temp_file.write(record)
    else:
      new_record = ' '.join([account, 'Williams', balance])
      temp_file.write(new_record + '\n')

In [48]:
!cat accounts.txt

100 Jones 24.98
200 Doe 345.67
300 Williams 0.00
400 Stone -42.16
500 Rich 224.62

In [47]:
!cat temp_file.txt

cat: temp_file.txt: No such file or directory

In [44]:
import os

In [45]:
os.remove('accounts.txt')

In [46]:
os.rename('temp_file.txt', 'accounts.txt')

# Self Check
* In the accounts.txt file, update the last name 'Doe' to 'Smith,

In [49]:
accounts = open('accounts.txt', 'r')

In [50]:
accounts_temp = open('accounts_temp.txt', 'w')

In [51]:
with accounts, accounts_temp:
  for record in accounts:
    account, name, balance = record.split()
    if account != '200':
      accounts_temp.write(record)
    else:
      new_record = ' '.join([account, 'Smith', balance])
      accounts_temp.write(new_record + '\n')

In [53]:
os.remove('accounts.txt')

In [54]:
os.rename('accounts_temp.txt', 'accounts.txt')

In [55]:
!cat accounts.txt

100 Jones 24.98
200 Smith 345.67
300 Williams 0.00
400 Stone -42.16
500 Rich 224.62

In [56]:
!git init

Initialized empty Git repository in /content/sample_data/JunkData/.git/

In [60]:
!git config --global user.email "DevenSuji@live.com"

In [61]:
!git config --global user.name "DevenSuji"

In [63]:
!git clone https://github.com/DevenSuji/MasteringPython.git

Cloning into 'MasteringPython'...
remote: Enumerating objects: 1082, done.
remote: Counting objects: 100% (1082/1082), done.
remote: Compressing objects: 100% (353/353), done.
remote: Total 1082 (delta 737), reused 1048 (delta 708), pack-reused 0
Receiving objects: 100% (1082/1082), 14.34 MiB | 26.66 MiB/s, done.
Resolving deltas: 100% (737/737), done.

In [68]:
!git add --all

warning: adding embedded git repository: MasteringPython
hint: You've added another git repository inside your current repository.
hint: Clones of the outer repository will not contain the contents of
hint: the embedded repository and will not know how to obtain it.
hint: If you meant to add a submodule, use:
hint:
hint: 	git submodule add <url> MasteringPython
hint:
hint: If you added this path by mistake, you can remove it from the
hint: index with:
hint:
hint: 	git rm --cached MasteringPython
hint:
hint: See "git help submodule" for more information.

In [69]:
!git commit -m "First Commit from Google COLABS"

[master (root-commit) bf9c3fb] First Commit from Google COLABS
 4 files changed, 9 insertions(+)
 create mode 160000 MasteringPython
 create mode 100644 accounts.txt
 create mode 100644 grades.txt
 create mode 100755 script.py

In [71]:
!git push

fatal: No configured push destination.
Either specify the URL from the command-line or configure a remote repository using

    git remote add <name> <url>

and then push using the remote name

    git push <name>