# Numbers
#### Numbers in Python is classified in the below mentioned categories:
* Integer and floating-point objects
* Complex number objects
* Decimal: fixed-precision objects
* Fraction: rational number objects
* Sets: collections with numeric operations
* Booleans: true and false
* Built-in functions and modules: round, math, random, etc.
* Expressions; unlimited integer precision; bitwise operations; hex, octal, and binary formats
* Third-party extensions: vectors, libraries, visualization, plotting, etc.

## Python Operators

|   <u>Operators</u>   |   <u>Description</u> | 
|   --- |   --- |
|   yield x   |   ==>>> Generator Function send protocol |
|   lambda args: expression   | ==>>> Anonymous function generation |
|   x if y else z   |   ==>>> Ternary selection(x is evaluated only if y is true) |
|   x or y  | ==>>> Logical OR (y is evaluated only if x is false) |
|   x and y | ==>>> Logical AND (y is evaluated only if x is true) |
|   not x   | ==>>> Logocal negation |
|   x in y, x not in y  | ==>>> Membership(iterables, sets) |
|   x is y, x is not y  | ==>>> Object identity test |
|   x < y, x <= y, x > y, x >= y | ==>>> Magnitude comparison, set subset and superset |
|   x == y, x != y  | ==>>>  Value equality operators    |
|   x \| y   | ==>>>    Bitwise OR, Set Union |
|   x ^ y   | ==>>>  Bitwise XOR, set symmetric difference   |
| x & y | ==>>>  Bitwise AND, set intersection   |
| x << y, x >> y | ==>>> Shift x left or right by y bits |
|   x + y   | ==>>> Addition, concatenation |
|   x – y   | ==>>> Subtraction, set difference |
|   x * y   | ==>>> Multiplication, repetition  |
|   x % y   | ==>>> Remainder, format   |
|   x / y, x // y   | ==>>> Division: true and floor    |
|   -x, +x  | ==>>> Negation, identity |
|   ˜x  | ==>>> Bitwise NOT (inversion) |
|   x ** y  |  ==>>> Power (exponentiation)  |
|   x\[i\]    | ==>>> Indexing (sequence, mapping, others) |
|   x\[i:j:k\]  | ==>>>   Slicing |
|   x(...) | ==>>>  Call (function, method, class, other callable) |
|   x.attr |    ==>>>   Attribute reference |
|   (...) | ==>>>   Tuple, expression, generator expression |
|   \[...\] | ==>>>   List, list comprehension |
|   {...} | ==>>>   Dictionary, set, set and dictionary comprehensions |

### Chaining Operators

In [9]:
1.1 + 2.2 == 3.3 # Shouldn't this be True?...

False

In [10]:
1.1 + 2.2 # Close to 3.3, but not exactly: limited precision

3.3000000000000003

In [11]:
int(1.1 + 2.2) == int(3.3) # The reason why this evaluates to true is because the decimal part is left off.
# OK if convert: see also round, floor, trunc ahead

True

In [12]:
int(3.3) # You see that the decimal part is left off

3

In [13]:
int(1.1 + 2.2) ) # You see that the decimal part is left off

SyntaxError: unmatched ')' (<ipython-input-13-55966378a809>, line 1)

In [14]:
# We can also do these
round(1.1 + 2.2)

3

In [15]:
round(3.3)

3

## Computing Square Roots
* There are three ways to compute a square root and the same is shown below:

In [16]:
import math # Finding the square root using module. 
math.sqrt(144)

12.0

In [17]:
144 ** .5 # Finding the square root using an expression.

12.0

In [18]:
pow(144, .5) # Finding the square root using built in function.

12.0

## RANDOM MODULE
* This standard library random module must be inported as well.

In [19]:
import random

In [20]:
random.random() # Random floats, integers, choices, shuffles

0.33609443270137884

In [21]:
random.randint(1, 6)

2

In [22]:
random.choice(['Deven Suji', 'Pavithra Mahesh', 'Dhrishti Deven', 'Duganth Deven'])

'Pavithra Mahesh'

In [23]:
card_suits = ['Hearts', 'Clubs', 'Diamonds', 'Spades']
random.shuffle(card_suits)
card_suits

['Clubs', 'Diamonds', 'Hearts', 'Spades']

## DECIMALS
* In the below two examples we are not using the Decimal module and hence you can see the effect.

In [24]:
0.1 + 0.1 + 0.1 - 0.3

5.551115123125783e-17

In [25]:
print(0.1 + 0.1 + 0.1 - 0.3)

5.551115123125783e-17

### Using the DECIMAL Module

In [26]:
from decimal import Decimal

In [27]:
Decimal('0.1') + Decimal('0.1') + Decimal('0.1') - Decimal('0.3')

Decimal('0.0')

In [28]:
import decimal
decimal.Decimal(1) / decimal.Decimal(7) # Default

Decimal('0.1428571428571428571428571429')

In [29]:
decimal.getcontext().prec = 2 # Fixing the precision of the decimal to 2
decimal.Decimal(1) / decimal.Decimal(7)

Decimal('0.14')

In [30]:
Decimal(0.1) + Decimal(0.1) + Decimal(0.1) - Decimal(0.3)   # Closer to 0

Decimal('1.1E-17')

# Decimal context manager
* It is also possible to reset precision temporarily by using the with context manager statement. The precision is reset to its original value on statement exit.

In [31]:
import decimal

In [32]:
decimal.Decimal('1.00') / decimal.Decimal('3.00')

Decimal('0.33')

In [33]:
with decimal.localcontext() as ctx:
    ctx.prec = 2 # Setting the decimal precision to 2 temporarily. Once the code exits the decimal precision will revert back to default.
    value = decimal.Decimal('1.00') / decimal.Decimal('3.00')
    print(value)

0.33

In [34]:
decimal.Decimal('1.00') / decimal.Decimal('3.00')

Decimal('0.33')

# Fractions
### 1. Creating Fractions Using Integers

In [35]:
from fractions import Fraction

In [36]:
x = Fraction(1, 3) # Numerator, Denominator

In [37]:
y = Fraction(4, 6) #Simplified automatically to 2, 3 by GCD(Gratest Common Divisor)

In [38]:
x

Fraction(1, 3)

In [39]:
y

Fraction(2, 3)

In [40]:
print(x)

1/3

In [41]:
print(y)

2/3

In [42]:
x + y

Fraction(1, 1)

In [43]:
x - y

Fraction(-1, 3)

In [44]:
print(x * y)

2/9

### 2. Creating Fractions Using Decimals

In [45]:
Fraction(.25)

Fraction(1, 4)

In [46]:
print(Fraction(1.25))

5/4

In [47]:
print(Fraction(.25) + Fraction(1.25))

3/2

In [48]:
x

Fraction(1, 3)

In [49]:
x + 2 # Fraction + Int = Fraction

Fraction(7, 3)

In [50]:
x + 2.0 # Fraction + Float = float

2.3333333333333335

In [51]:
x + (1./3) # Fraction + Float = float

0.6666666666666666

In [52]:
x + (4./3) # Fraction + Float = float

1.6666666666666665

In [53]:
x + Fraction(4, 9) # Fraction + Fraction = Fraction

Fraction(7, 9)

# Sets
* An unordered collection of unique and immutable objects that supports operations corresponding to mathematical set theory. 
* An item appears only once in a set, no matter how many times it is added. 
* Sets have a variety of applications, especially in numeric and database-focused work.
* Sets are iterable.
* Can grow and shrink on demand.
* May contain a variety of object types.
* Because sets are unordered and do not map keys to values, they are neither sequence nor mapping types; they are a type category unto themselves.

In [54]:
x = set('abcde') # A Set can be defined this way as well

In [55]:
y = {'b', 'd', 'x', 'y', 'z'} # A Set can be defined this way as well

In [56]:
type(x)

set

In [57]:
type(y)

set

## Difference

In [58]:
x - y

{'a', 'c', 'e'}

## Union

In [59]:
x | y

{'a', 'b', 'c', 'd', 'e', 'x', 'y', 'z'}

## Intersection

In [60]:
x & y

{'b', 'd'}

## Symmetric Difference (XOR)

In [61]:
x ^ y

{'a', 'c', 'e', 'x', 'y', 'z'}

## Superset, Subset

In [62]:
x > y, x < y

(False, False)

## Membership
* IN set membership test.
* This expression is also defined to work on all other collection types.

In [63]:
'e' in x

True

In [64]:
'e' in 'Camelot', 22 in [11, 22, 33]

(True, True)

In [65]:
dir(x) # To find all the properties and methods available for the set x

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

## Set Methods

In [66]:
z = x.intersection(y) #Same as x & y
z

{'b', 'd'}

In [67]:
z.add('Python') # Inserting one item
z

{'Python', 'b', 'd'}

In [68]:
z.update(x, y) # Merge: In place union. Merging z with x and y
z

{'Python', 'a', 'b', 'c', 'd', 'e', 'x', 'y', 'z'}

In [69]:
z.remove('Python')
z

{'a', 'b', 'c', 'd', 'e', 'x', 'y', 'z'}

## Set Iteration
* Sets can also be used in operations such as len, for loops, and list comprehensions.
* Because SETS are unordered, they don’t support sequence operations like indexing and slicing.

In [70]:
for item in z:
    print(item * 3)

aaa
zzz
bbb
ccc
yyy
xxx
ddd
eee

### Although the set expressions shown earlier generally require two sets, their method-based counterparts can often work with any iterable type as well.

In [71]:
S = {1, 2, 3}

### Expressions require both to be sets

In [72]:
S | {3, 4}

{1, 2, 3, 4}

In [73]:
S | [3, 4] # This will result in error as both the parts are not sets

TypeError: unsupported operand type(s) for |: 'set' and 'list'

### But their methods allow any iterable

In [74]:
S.union([3, 4])

{1, 2, 3, 4}

In [75]:
S.intersection([3, 4])

{3}

In [76]:
S.issubset(range(-5, 5))

True

## Watch this out

In [77]:
set('spam')

{'a', 'm', 'p', 's'}

## Proving that EMPTY SET IS A DICTIONARY

In [78]:
S1 = {1, 2, 3, 4}

In [79]:
S1 - {1, 2, 3, 4} # Empty sets print differently

set()

In [80]:
type({})

dict

In [81]:
S = set() # Initializing an empty set

In [82]:
S.add(1.23)
S

{1.23}

## Methods Work But Expressions Don't

In [83]:
{1, 2, 3} | {3, 4} # Here | is the symbol of union. This will work as both the data are sets

{1, 2, 3, 4}

In [84]:
{1, 2, 3} | [3, 4] # This does not work as we are trying to union two different data types which is a set and a list using an expression |. See the below example on how to get this working using methods.

TypeError: unsupported operand type(s) for |: 'set' and 'list'

In [85]:
{1, 2, 3}.union([3, 4]) # This works as we are using the method and not expression.

{1, 2, 3, 4}

In [86]:
{1, 2, 3}.union({3, 4})

{1, 2, 3, 4}

In [87]:
{1, 2, 3}.union(set([3, 4]))

{1, 2, 3, 4}

In [88]:
{1, 2, 3}.intersection((1, 3, 5))

{1, 3}

In [89]:
{1, 2, 3}.issubset(range(-5, 5))

True

#### Sets are powerful and flexible objects, but they do have one constraint. Sets can only contain immutable (a.k.a. “hashable”) object types. Hence, lists and dictionaries cannot be embedded in sets, but tuples can if you need to store compound values. Tuples compare by their full values when used in set operations:

In [90]:
S

{1.23}

In [91]:
S.add([1, 2, 3]) # Only immutable objects works in set. Hence this will fail as list is immutable object.

TypeError: unhashable type: 'list'

In [92]:
S.add({'a':1}) # This will also fail as Dictionary is a immutable object.

TypeError: unhashable type: 'dict'

In [94]:
S.add((1, 2, 3)) # This works as tuple is a mutable object.
S

{(1, 2, 3), 1.23}

In [95]:
S | {(4, 5, 6), (1, 2, 3)}

{(1, 2, 3), (4, 5, 6), 1.23}

In [96]:
(1, 2, 3) in S

True

In [97]:
(1, 4, 3) in S

False

## SET COMPREHENSION

In [6]:
{x ** 2 for x in [1, 2, 3, 4, 5]}

{1, 4, 9, 16, 25}

In [8]:
{x * 2 for x in 'spam'}

{'aa', 'mm', 'pp', 'ss'}

In [9]:
S = {i * 2 for i in 'spam'}
S

{'aa', 'mm', 'pp', 'ss'}

In [10]:
S | {'mm', 'xx'} # Using the union

{'aa', 'mm', 'pp', 'ss', 'xx'}

In [11]:
S & {'mm', 'xx'} # Using the intersection

{'mm'}

In [12]:
L = [1, 2, 1, 3, 2, 4, 5] # Defining a list

In [23]:
set(L) # Converting a list to a set gives us the elements of the sets in ordered format

{1, 2, 3, 4, 5}

In [26]:
r = ['a', 'b', 'c', 'e', 'd', 'c', 'a', 'b', 'a', 'f', 'e', 'd', 'd'] # Defining a list

In [27]:
set(r) # Converting a list to a set gives us the elements of the sets in ordered format

{'a', 'b', 'c', 'd', 'e', 'f'}

#### Here we are creating a list that has duplicates, then passing it to the set to remove the duplicates and converting the result back to a list that gives us only the unique values inside the list. But note that the order will not be guranteed here

In [28]:
List_With_Duplicate_Elements = ['a', 'b', 'c', 'e', 'd', 'c', 'a', 'b', 'a', 'f', 'e', 'd', 'd']

In [29]:
list(set(List_With_Duplicate_Elements))

['d', 'e', 'b', 'c', 'f', 'a']

### Finding the DIFFERENCE in SETS

In [32]:
set([1, 3, 5, 7]) - set([1, 2, 4, 5, 6])

{3, 7}

In [33]:
set('abcdefg') - set('abdghij')

{'c', 'e', 'f'}

In [34]:
set('spam') - set(['h', 'a', 'm'])

{'p', 's'}

In [35]:
set(dir(bytes)) - set(dir(bytearray)) # As we know that dir is used to list out the properties and methods of a command. Here we are looking at the difference

{'__getnewargs__'}

In [36]:
set(dir(bytearray)) - set(dir(bytes))

{'__alloc__',
 '__delitem__',
 '__iadd__',
 '__imul__',
 '__setitem__',
 'append',
 'clear',
 'copy',
 'extend',
 'insert',
 'pop',
 'remove',
 'reverse'}

### Order Neutral Equality

In [37]:
L1, L2 = [1, 3, 5, 2, 4], [2, 5, 3, 4, 1]

In [38]:
L1 == L2 #This will result in false as order matters in List Sequence

False

In [43]:
set(L1) == set(L2) # Order Nuetral Equality Using Set

True

In [44]:
sorted(L1) == sorted(L2) # Similar to Order Nuetral but here we are not converting the List to Set. Instead we are using the sorted function to sort the elements of the lists

True

In [42]:
A == B

False

In [45]:
'spam' == 'asmp', set('spam') == set('asmp'), sorted('spam') == sorted('asmp')

(False, True, True)

In [46]:
engineers = {'bob', 'sue', 'ann', 'vic'}

In [47]:
managers  = {'tom', 'sue'}

In [48]:
'bob' in engineers                   # Is bob an engineer?

True

In [49]:
engineers & managers                 # Who is both engineer and manager?

{'sue'}

In [50]:
engineers | managers                 # All people in either category

{'ann', 'bob', 'sue', 'tom', 'vic'}

In [51]:
engineers - managers                 # Engineers who are not managers

{'ann', 'bob', 'vic'}

In [52]:
managers - engineers                 # Managers who are not engineers

{'tom'}

In [53]:
engineers > managers                 # Are all managers engineers? (superset)

False

In [54]:
{'bob', 'sue'} < engineers           # Are both engineers? (subset)

True

In [55]:
(managers | engineers) > managers    # All people is a superset of managers

True

In [56]:
managers ^ engineers                 # Who is in one but not both?

{'ann', 'bob', 'tom', 'vic'}

In [57]:
(managers | engineers) - (managers ^ engineers)     # Intersection!

{'sue'}

## Booleans

In [58]:
type(True)

bool

In [59]:
isinstance(True, int) # Is True and integers?

True

In [60]:
True == 1 # Same value

True

In [61]:
True is 1 # But a different object

False

In [62]:
True or False

True

In [63]:
True + 6 # What????????

7

# QUIZ
1. What is the value of the expression 2 * (3 + 4) in Python?
2. What is the value of the expression 2 * 3 + 4 in Python?
3. What is the value of the expression 2 + 3 * 4 in Python?
4. What tools can you use to find a number’s square root, as well as its square?
5. What is the type of the result of the expression 1 + 2.0 + 3?
6. How can you truncate and round a floating-point number?
7. How can you convert an integer to a floating-point number?
8. How would you display an integer in octal, hexadecimal, or binary notation?
9. How might you convert an octal, hexadecimal, or binary string to a plain integer?

In [68]:
#Question 1
2 * (3 + 4)

14

In [69]:
#Quation 2
2 * 3 + 4

10

In [70]:
#Question 3
2 + 3 * 4

14

In [72]:
#Question 4
import math
print(math.sqrt(9))
print(math.pow(3, 3))

3.0
27.0

In [74]:
#Question 5
#Answer: The result will be float
a = 1 + 2.0 + 3
type(a)

float

In [81]:
#Question 6
a = 7.98712564
print(int(a)) # First Method
print(math.trunc(a)) # Second Method
print(round(a, 0)) # Rounding a floating point number
print(math.floor(a)) # The float can also be rounded using the floor method. This gives us the bottom value
print(math.ceil(a))  # The float can also be rounded using the ceiling method. This gives us the top value

7
7
8.0
7
8

In [90]:
#Question 7
c = 4
print(type(c)) # Checking the type of C
print(float(c)) # Converting the interger C to Float using the float method
print(c + 0.0) # Adding a float to an integer results in type conversion the results in float here
print(c / 1) # Division also result in floats even if we have intergers in numerator and denominator.

<class 'int'>
4.0
4.0
4.0

In [93]:
#Question 8
v = 5
print(oct(v)) # Converting the integer to octal number using the oct() function.
print(hex(v)) # Converting the integer to hexadecimal number using the hex() function.
print(bin(v)) # Converting the integer to binary number using the bin() function.

0o5
0x5
0b101

In [99]:
#Question 9
# How might you convert an octal, hexadecimal, or binary string to a plain integer?
P = '0o5'
print(int(P, 8))
Q = '0x5'
print(int(Q, 16))
R = '0b101'
print(int(R, 2))

5
5
5