# Numbers

### <b><u><i>Booleans</i></u></b>
##### Non Zero Numbers are considered as True

In [1]:
bool(True)

True

In [2]:
bool(1)

True

In [3]:
bool(45)

True

In [4]:
bool(-45)

True

##### Zero Valued ones are considered as False

In [7]:
bool(False)

False

In [8]:
bool(0)

False

In [9]:
bool(0.0)

False

### Integers
##### Integers are whole numbers. No fractions, no decimal points, nothing fancy.

In [10]:
million = 1_000_000
million

1000000

In [11]:
# Actually you can put underscores anywhere after the first digit; they're just ignored.
num = 1_2_3
num

123

##### Integer Operations

|Operator|Description|Example|Results|
|--------|-----------|-------|-------|
|+|Addition|5+8|13|
|-|Subtraction|90 - 10|80|
|\*|Multiplication|4 \* 7|28|
|/|Floating Point Division|7 / 2|3.5|
|//|Integer(Truncating) division|7 // 2|3|
|%|Modulus(remainder)|7 % 3|1|
|**|Exponentiation|3 ** 4| 81|

###### Dividing by ZERO with either kind of division causes a Python Exception

In [13]:
print(5/0)

ZeroDivisionError: division by zero

In [14]:
print(5//0)

ZeroDivisionError: integer division or modulo by zero

#### Shortcuts

In [2]:
# a = a + 8
a = 92
a += 8
a

100

In [3]:
# a = a -3
a = 95
a -= 3
a

92

In [4]:
# a = a * 2
a *= 2
a

184

In [5]:
# a = a / 3
a = 200
a /= 3
a

66.66666666666667

In [6]:
# a = a // 4
a = 13
a //= 4
a

3

In [7]:
# Getting the remainder
9 % 5

4

###### Getting the truncated quotient and remainder at once

In [8]:
# Here 5 goes in 9 once and 4 is the remainder. Both the quotient and remainder are shown together here.
divmod(9,5)

(1, 4)

###### If divmod was not there then we'd be calculating them seperately as shown below

In [9]:
9 // 5

1

In [10]:
9 % 5

4

In [11]:
# Two to the power of three
2 ** 3

8

In [12]:
# So you see here. It -5 x -5 and the answer should have been 25 but since we are not wrapping
# -5 in () the answer is not the one we expected.
-5 ** 2

-25

In [13]:
# Here's the right way to do it
(-5) ** 2

25

# Bases

###### In Python, you can express literalintegers in three bases besidesdecimal with these integer prefixes:
##### 0b or 0B for binary (base 2).
##### 0o or 0O for octal (base 8).
##### 0x or 0X for hex (base 16).

### <u>Converting Binary to Integers</u>

In [16]:
print(0B10)
print(0b10)

2
2

### <u>Converting Octal to Integers</u>

In [17]:
print(0o10)
print(0O10)

8
8

### <u>Converting Hexadecimal to Integers</u>

In [19]:
print(0x10)
print(0X10)

16
16

In [20]:
value = 65

### <u>Converting Integer to Binary</u>

In [21]:
bin(value)

'0b1000001'

### <u>Converting Integer to Octal</u>

In [22]:
oct(value)

'0o101'

### <u>Converting Integer to Hexadecimal</u>

In [23]:
hex(value)

'0x41'

### <u>Converting Integer to its single-character string equivalent</u>

In [24]:
chr(value)

'A'

### <u>Converting a character to its equivalent integer value</u>

In [26]:
print(ord('a'))
print(ord('A'))
print(ord('b'))
print(ord('B'))

97
65
98
66

# <u>Type Conversion</u>

In [27]:
int(True)

1

In [28]:
int(False)

0

In [29]:
bool(1)

True

In [31]:
bool(0)

False

#### <u>Converting a floating point to integer discards the numbers after the decimal</u>

In [32]:
int(98.6)

98

In [33]:
int(1.0e4)

10000

#### <u>Converting a string to interger</u>

In [34]:
int('99')

99

In [35]:
int('-23')

-23

In [36]:
int('+12')

12

In [37]:
int('1_000_000')

1000000

##### <u>If the string represents a non decimal integer, you can include the base:</u>

In [41]:
int('1010111000', 2) # binary

696

In [45]:
int('01234567654321', 8) # Octal Numbers

89755965649

In [46]:
int('0123456789abcdef', 16) # Hexadecimal

81985529216486895