# <u> * Mathematical Set Operations * </u>

In [ ]:
{1, 3, 5} | {2, 3, 4} # The pipe symbol acts as the union operator that concatenetes the two sets and displays all the unique values.

##### <u> * The same union of sets can be achieved using the built in function called UNION * </u>
* NOTE: The UNION method can accept any type of sequence and turn it into a set.
* The below example shows how we are contatening a set and a list using UNION Method.

In [ ]:
{1, 3, 5}.union([20, 20, 3, 40, 10])

## <u> * Set Intersection Operation* </u>
* It compares the two sets and give back all the <u>COMMON ELEMENTS</u> in both the sets.

In [ ]:
{1, 3, 5} & {2, 3, 4}

* Doing the same operation using the INTERSECTION inbuilt function below.

In [ ]:

{1, 3, 4}.intersection([1, 2, 2, 3, 3, 4, 4])

## <u> * Set Difference Operation* </u>
* It compares the two sets and give back all the <u>UNCOMMON COMMON ELEMENTS</u> that are not in the set on the right.

In [5]:
{1, 3, 5} - {2, 3, 4}

{1, 5}

* Doing the same operation using the DIFFERENCE inbuilt function below.
* In the below example the LIST on the right hand side is automatically converted to a SET by the inbuilt function.

In [6]:
{1, 3, 5, 7}.difference([2, 2, 3, 3, 4, 4])

{1, 5, 7}

## <u> * Symmetric Difference Operation* </u>
* It creates a new set with all the elements in the both set that are not in common. 
* Simply put, it leaves out the comman element and creates a set using all the uncommon elements.

In [7]:
{1, 3, 5} ^ {2, 3, 4}

{1, 2, 4, 5}