# <u> * Mathematical Set Operations * </u>

In [ ]:
{1, 3, 5} | {2, 3, 4} # The pipe symbol acts as the union operator that concatenetes the two sets and displays all the unique values.

##### <u> * The same union of sets can be achieved using the built in function called UNION * </u>
* NOTE: The UNION method can accept any type of sequence and turn it into a set.
* The below example shows how we are concateneting a set and a list using UNION Method.
* All the Mathematical Set Operation converts any type of sequence to sets.

In [ ]:
{1, 3, 5}.union([20, 20, 3, 40, 10])

## <u> * Set Intersection Operation* </u>
* It compares the two sets and give back all the <u>COMMON ELEMENTS</u> in both the sets.

In [ ]:
{1, 3, 5} & {2, 3, 4}

* Doing the same operation using the INTERSECTION inbuilt function below.

In [ ]:

{1, 3, 4}.intersection([1, 2, 2, 3, 3, 4, 4])

## <u> * Set Difference Operation* </u>
* It compares the two sets and give back all the <u>UNCOMMON COMMON ELEMENTS</u> that are not in the set on the right.

In [ ]:
{1, 3, 5} - {2, 3, 4}

* Doing the same operation using the DIFFERENCE inbuilt function below.
* In the below example the LIST on the right hand side is automatically converted to a SET by the inbuilt function.

In [ ]:
{1, 3, 5, 7}.difference([2, 2, 3, 3, 4, 4])

## <u> * Symmetric Difference Operation* </u>
* It creates a new set with all the elements in the both set that are not in common. 
* Simply put, it leaves out the common element and creates a set using all the uncommon elements.

In [ ]:
{1, 3, 5} ^ {2, 3, 4}

* Doing the same ooperation using the inbulit function called SYMMETRIC_DIFFERENCE

In [ ]:
{1, 3, 5, 7}.symmetric_difference([2, 2, 3, 3, 4, 4, 7])

## <u> * Disjoint Method * </u>

* This method returns a Boolean output.
* True if there are no common elements and False is there are any common elements.

In [ ]:
{1, 3, 5}.isdisjoint([2, 4, 6])

In [ ]:
{1, 3, 5}.isdisjoint({2, 4, 6})

In [ ]:
{1, 3, 5}.isdisjoint([2, 3, 6])

## <u> * Self Check * </u>
####  * Given the sets {10, 20, 30} and {5, 10, 15, 20}, use the mathematical set operators to produce the following results: * 
1. {30}
2. {5, 15, 30}
3. {5, 10, 15, 20, 30}
4. {10, 20}

#### <u> * Question 1 * </u>

In [ ]:
{10, 20, 30}.difference({5, 10, 15, 20})

In [ ]:
# Doing the same using the symbols
{10, 20, 30} - {5, 10, 15, 20}

#### <u> * Question 2 * </u>

In [ ]:
{10, 20, 30}.symmetric_difference({5, 10, 15, 20})

In [ ]:
# Doing the same using the symbols
{10, 20, 30} ^ {5, 10, 15, 20}

#### <u> * Question 3 * </u>

In [ ]:
{10, 20, 30}.union({5, 10, 15, 20})

In [ ]:
# Doing the same using the symbols
{10, 20, 30}  | {5, 10, 15, 20}

#### <u> * Question 4 * </u>

In [ ]:
{10, 20, 30}.intersection({5, 10, 15, 20})

In [ ]:
# Doing the same using the symbols
{10, 20, 30}  & {5, 10, 15, 20}