# Lists

Lists are good for keeping track of things by their order,especially when the order and contents might change.Unlike strings,lists are mutable.You can change a list in place,add new elements,and delete or replace existing elements.The same value can occur more than once in a list.

In [ ]:
empty_list = []
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
big_birds = ['emu', 'ostrich', 'cassowary']
first_names = ['Deven', 'Pavithra', 'Dhrishti', 'Duganth', 'Ford']
leap_years = [2000, 2004, 2008]
randomness = ['Punxsatawney', {"groundhog": "Phil"}, "Feb. 2"]

##### Creating empty list

In [1]:
empty_list = []
another_empty_list = list()
print(empty_list)
print(another_empty_list)

[]
[]

##### Python’s list() function also converts other iterabledata types (such as tuples, strings, sets, and dictionaries) to lists.The following example converts a string to a list of one-character strings

### Converting a string to a list

In [2]:
list('appleq')

['a', 'p', 'p', 'l', 'e', 'q']

### Converting a tuple to a list

In [3]:
a_tuple = ('ready', 'aim', 'fire')
list(a_tuple)

['ready', 'aim', 'fire']

### Creating List from a String using split()

In [5]:
someday = '9/19/2019' # Here '9/19/2019' is a string
someday.split('/') # Using split on the delimiter / converts the string to list

['9', '19', '2019']

##### What if you have more than one separator string in arow in your original string? 
##### Well, you get an emptystring as a list item:

In [6]:
splitme = 'a/b//c/d///e'
splitme.split('/')

['a', 'b', '', 'c', 'd', '', '', 'e']

##### If you had used the two-character separator string //, instead, you would get this

In [7]:
splitme = 'a/b//c/d///e'
splitme.split('//')

['a/b', 'c/d', '/e']

### <u>Get an Item by [ offset ]</u>

###### As with strings, you can extract a single value from a listby specifying its offset:

In [8]:
marxes = ['Groucho', 'Chico', 'Harpo']
print(marxes[0])
print(marxes[1])
print(marxes[2])

Groucho
Chico
Harpo

In [9]:
# Again, as with strings, negative indexes count backward from the end:
print(marxes[-1])
print(marxes[-2])
print(marxes[-3])

Harpo
Chico
Groucho

##### You'll get an exception if you try to access the offset that does not exist

In [16]:
print(marxes[-6])

IndexError: list index out of range

### <u>Slice</u>

In [10]:
marxes = ['Groucho', 'Chico', 'Harpo']
marxes[0:2]

['Groucho', 'Chico']

##### As with strings,slices can step by values other than one

In [11]:
marxes[::2]

['Groucho', 'Harpo']

##### Here, we start at the end and go left by 2:

In [12]:
marxes[::-2]

['Harpo', 'Groucho']

##### And finally, the trick to reverse a list:

In [13]:
marxes[::-1]

['Harpo', 'Chico', 'Groucho']

##### None of these slices changed the marxes listitself, because we didn’t assign them to marxes.To reverse a list in place,use list.reverse():

In [15]:
marxes = ['Groucho', 'Chico', 'Harpo']
marxes.reverse()
marxes

['Harpo', 'Chico', 'Groucho']

##### As you saw with strings, a slice can specify aninvalid index, but will not cause an exception.It will “snap” to the closest valid indexor return nothing:

In [17]:
marxes = ['Groucho', 'Chico', 'Harpo']
marxes[4:]

[]

In [18]:
marxes[-6:]

['Groucho', 'Chico', 'Harpo']

In [19]:
marxes[-6:-2]

['Groucho']

In [20]:
marxes[-6:-4]

[]

### Appending the List with append()
* The append() function adds items only to the end of the list.

In [21]:
family = ['Deven', 'Pavithra', 'Dhrishti']
family.append('Duganth')
family

['Deven', 'Pavithra', 'Dhrishti', 'Duganth']

### Add an Item by Offset with insert()
* When you want to add an item before any offset in the list,use insert().
* Offset 0 inserts at the beginning.
* An offset beyond the end of the list inserts at the end, like append(), so you don’t need to worry about Python throwing an exception:

In [22]:
family = ['Deven', 'Pavithra', 'Dhrishti']
print(family)
family.insert(3, 'Duganth')
print(family)
family.insert(7, 'Ford')

['Deven', 'Pavithra', 'Dhrishti']
['Deven', 'Pavithra', 'Dhrishti', 'Duganth']

### Duplicate All Items with *

In [23]:
["blah"] * 3

['blah', 'blah', 'blah']

### Combine Lists by Using extend() or +

In [26]:
fruits = ['apple', 'banana', 'mango', 'peach']
vegetables = ['potato', 'carrot', 'tomato']
fruits.extend(vegetables) # Note how the extend inbuilt function is used here
fruits

['apple', 'banana', 'mango', 'peach', 'potato', 'carrot', 'tomato']

In [27]:
fruits = ['apple', 'banana', 'mango', 'peach']
vegetables = ['potato', 'carrot', 'tomato']
fruits += vegetables  # Note how the + is used here
fruits

['apple', 'banana', 'mango', 'peach', 'potato', 'carrot', 'tomato']

### If we had used append(),otherswould have been added as a single list item rather than merging its items.
This again demonstrates that a list can contain elements of different types. In this case, four strings, and a list of two strings.

In [28]:
fruits = ['apple', 'banana', 'mango', 'peach']
vegetables = ['potato', 'carrot', 'tomato']
fruits.append(vegetables)
fruits # Note how vegetables is added as a seperate list item.

['apple', 'banana', 'mango', 'peach', ['potato', 'carrot', 'tomato']]

### Change an Item by [ offset ]
Just as you can get the value of a list itemby its offset,you can change it as well using the offset.

In [29]:
marxes = ['Groucho', 'Chico', 'Harpo']
print(marxes)
marxes[2] = 'Wanda'
print(marxes)

['Groucho', 'Chico', 'Harpo']
['Groucho', 'Chico', 'Wanda']

###### Again, the list offset number needs to be a valid one for this kind of operation. If not it will throw an exception like the one below

In [30]:
marxes = ['Groucho', 'Chico', 'Harpo']
print(marxes)
marxes[6] = 'Wanda'
print(marxes)

['Groucho', 'Chico', 'Harpo']

IndexError: list assignment index out of range

### Change Items with a Slice

In [1]:
numbers = [1, 2, 3, 4]
numbers[1:3] = [77, 88, 99]
numbers

[1, 77, 88, 99, 4]

###### The righthand thing that you’re assigning to the listdoesn’t even need to have the same number of elementsas the slice on the left:

In [2]:
numbers = [1, 2, 3, 4]
numbers[1:3] = []
numbers

[1, 4]

###### Actually, the righthand thing doesn’t even need to bea list.Any Python iterable will do,separating its items and assigning them to list elements:

In [3]:
numbers = [1, 2, 3, 4]
numbers[1:3] = (98, 99, 100)
numbers

[1, 98, 99, 100, 4]

In [5]:
numbers = [1, 2, 3, 4]
numbers[1:3] = 'wat?'
numbers

[1, 'w', 'a', 't', '?', 4]

### Delete an Item by Offset with del

In [7]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Gummo', 'Karl']
print(marxes[-1])
del marxes[-1]
print(marxes)

Karl
['Groucho', 'Chico', 'Harpo', 'Gummo']

When you delete an item by its position in the list,the items that follow itmove back to take the deleted item’s space,and the list’s length decreases by one.If we deleted 'Chico' from the last versionof the marxes list, we get this as a result:

In [8]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Gummo']
del marxes[1]
marxes

['Groucho', 'Harpo', 'Gummo']

### Delete an item by Value with remove()
* If you’re not sure or don’t care where the item is in the list, use remove() to delete it by value.
* If you had duplicate list items with the same value,remove() deletes only the first one it finds.

In [1]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Gummo']
marxes.remove('Groucho')
marxes

['Chico', 'Harpo', 'Gummo']

### Get an Item by Offset and Delete It with pop()
* You can get an item from a list and delete it from the listat the same time by using pop().
* If you call pop() with an offset,it will return the item at that offset;with no argument, it uses -1 which means when no argument is provided it removes the last item.
* So pop(0) returns the head(start) of the list, and pop() or pop(-1) returns the tail (end), as shown here.

In [2]:
numbers = [1, 2, 3, 4, 5, 6, 7]
numbers

[1, 2, 3, 4, 5, 6, 7]

In [3]:
numbers.pop() # When using the pop method without any argument, it removes the last item in the list.

7

In [4]:
numbers

[1, 2, 3, 4, 5, 6]

In [5]:
numbers.pop(0) # Calling the pop method with an argument which is 
               #the index 0 of the list and it gracefully removed the item that was there in index 0.

1

In [6]:
numbers

[2, 3, 4, 5, 6]

### Delete all items with clear()
Python 3.3 introduced a method to clear a list of all its elements:

In [7]:
work_quotes = ['Working hard?', 'Quick question!', 'Number one priorities!']
work_quotes

['Working hard?', 'Quick question!', 'Number one priorities!']

In [8]:
work_quotes.clear()

In [9]:
work_quotes

[]

### Find an Item’s Offset by Value using index()
* If you want to know the offset of an item in a listby its value,use index():
* If the value is in the list more than once,only the offset of the first one is returned:

In [10]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
marxes.index('Harpo') # Checking at what index is Harpo residing.

2

In [11]:
# If the value is in the list more than once,only the offset of the first one is returned:
simpsons = ['Lisa', 'Bart', 'Marge', 'Homer', 'Bart']
simpsons.index('Bart')

1

### Test for a Value with in
* The same value may be in more than one position in the list.As long as it’s in there at least once, in will return True:

In [12]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
'Groucho' in marxes

True

In [13]:
'Bob' in marxes

False

In [14]:
words = ['a', 'deer', 'a' 'female', 'deer'] # This list has deer twice in it.
'deer' in words

True

### Count Occurrences of a Value with count()

In [15]:
marxes = ['Groucho', 'Chico', 'Harpo']
marxes.count('Harpo')

1

In [16]:
marxes.count('Bob')

0

### Convert a List to a String with join()
You might be thinking that this seems a little backward.join() is a string method, not a list method.You can’t say marxes.join(', '),even though it seems more intuitive.

* The argument to join() is a string orany iterable sequence of strings (including a list),and its output is a string.
* If join() were just a list method,you couldn’t use it withother iterable objects such as tuples or strings.
* If you did want it to work with any iterable type, you’d need special code for each type to handle the actual joining.
* It might help to remember—join() is the opposite of split()

In [17]:
marxes = ['Groucho', 'Chico', 'Harpo']
', '.join(marxes)

'Groucho, Chico, Harpo'

In [19]:
friends = ['Harry', 'Hermione', 'Ron']
seperator = ' * '
joined = seperator.join(friends)
joined

'Harry * Hermione * Ron'

In [23]:
separated = joined.split(seperator)
separated

['Harry', 'Hermione', 'Ron']

### Reorder Items with sort() or sorted()
You’ll often need to sort the items in a list by their values ratherthan their offsets.Python provides two functions:
* The list method sort() sorts the list itself, in place.
* The general function sorted() returns a sorted copy of the list.
* If the items in the list are numeric,they’re sorted by default in ascending numeric order.
* If they’re strings, they’re sorted inalphabetical order.

In [24]:
strings = ['Mango', 'Banana', 'Apple']
sorted(strings)

['Apple', 'Banana', 'Mango']

In [25]:
nums = [4, 5, 3, 2, 7]
sorted(nums)

[2, 3, 4, 5, 7]

In [28]:
strings = ['Mango', 'Banana', 'Apple']
strings.sort()
strings

['Apple', 'Banana', 'Mango']

In [29]:
nums = [4, 5, 3, 2, 7]
nums.sort()
nums

[2, 3, 4, 5, 7]

### Sorting in reverse order.

In [30]:
nums = [1, 2, 5, 6, 12, 89, 0, 3]
nums.sort(reverse=True)
nums

[89, 12, 6, 5, 3, 2, 1, 0]

### Get Length with len()
len() returns the number of items in a list.

In [31]:
marxes = ['Groucho', 'Chico', 'Harpo']
len(marxes)

3

### Assign with =

In [32]:
a = [1, 2, 3]
a

[1, 2, 3]

In [33]:
b = a
b

[1, 2, 3]

In [34]:
a[0] = 'surprise'
a

['surprise', 2, 3]

In [35]:
b

['surprise', 2, 3]

### Copy with copy(), list(), or a Slice
You can copy the values of a list to an independent, fresh list by using any of these methods:
* The list copy() method.
* The list() conversion function.
* The list slice [:].

In [36]:
a = [1, 2, 3]
b = a.copy()
print(b)
print(id(a))
print(id(b))
# With the below ID values we can say that both the objects are different.

[1, 2, 3]
2497314059464
2497315890440

In [38]:
c = list(a)
print(c)
print(id(c)) # Even list method is creating a entirely different object.

[1, 2, 3]
2497309595400

In [39]:
d = a[:]
print(d)
print(id(d)) # And the same goes with the slice method as well.

[1, 2, 3]
2497302877064

* Again, b, c, and d are copies of a.
* They are new objects with their own values nd no connection to the original list object [1, 2, 3] to which a refers.
* Changing a does not affect the copies b, c, and d:

In [40]:
a[0] = 'integer lists are boring'
print(a) # Only the value at the 1st index in a is changed.
print(b) # This did not change.
print(c) # This did not change.
print(d) # This also did not change.

['integer lists are boring', 2, 3]
[1, 2, 3]
[1, 2, 3]
[1, 2, 3]

### Copy Everything with deepcopy()
* The copy() function works well if the list values are all immutable.
* As you’ve seen before, mutable values(like lists, tuples, or dicts)are references.
* A change in the original or the copy would be reflected in both.
* Let’s use the previous example but make the last element in list a the list [8, 9] instead of the integer 3.

In [42]:
a = [1, 2, [8, 9]]
b = a.copy()
c = list(a)
d = a[:]
print(a)
print(b)
print(c)
print(d)

[1, 2, [8, 9]]
[1, 2, [8, 9]]
[1, 2, [8, 9]]
[1, 2, [8, 9]]

Now changing an element in that sublist in the list a.

In [43]:
a[2][1] = 100
print(a)
print(b)
print(c)
print(d)

[1, 2, [8, 100]]
[1, 2, [8, 100]]
[1, 2, [8, 100]]
[1, 2, [8, 100]]

### deepcopy()
* In the above example you can see how changing a value on a resulted in the change of value on b, c and d. 
* If this behaviour is not expected the use deepcopy().
* deepcopy() can handle deeply nested lists,dictionaries, and other objects.

In [46]:
import copy

a = [1, 2, [8, 9]]
b = copy.deepcopy(a)
print(a)
print(b)
a[2][1] = 1000
print(a)
print(b) # Now you see that the change in the value in a did not reflect in b.

[1, 2, [8, 9]]
[1, 2, [8, 9]]
[1, 2, [8, 1000]]
[1, 2, [8, 9]]

### Comparing Lists

In [1]:
a = [7, 2]
b = [7, 2, 9]
print(a == b)
print (a <= b)
print(a < b)

False
True
True

### Iterating using FOR and IN

In [2]:
cheese = ['brie', 'mozerella', 'parmesian', 'gouda', 'cheddar']
for c in cheese:
    print(f'I love {c}')

I love brie
I love mozerella
I love parmesian
I love gouda
I love cheddar

In [6]:
cheese = ['brie', 'mozerella', 'parmesian', 'gouda', 'cheddar']
for c in cheese:
    if c.startswith('g'):
        print(f'I won\'t eat {c.upper()} cheese.')
        break
    else:
        print(c)

brie
mozerella
parmesian
I won't eat GOUDA cheese.

### Ever seen an ELSE statement in a FOR Loop. Well here it is.
* If the initial for never ran, control goes to the else also.

In [7]:
cheese = ['brie', 'mozerella', 'parmesian', 'gouda', 'cheddar']
for c in cheese:
    if c.startswith('x'):
        print(f'I won\'t eat {c.upper()} cheese.')
        break
    else:
        print(c)
else:
    print("Didn't find any cheese that starts with X")

brie
mozerella
parmesian
gouda
cheddar
Didn't find any cheese that starts with X

In [9]:
'''
Because the cheeses list was empty in this example,for cheese in cheeses never completed a single loop 
and its break statement was never executed.
'''

cheese = []
for c in cheese:
    print('This shop has some lovely', c)
    break
else: 
    print('This is not much of a cheese shop. Is it')

This is not much of a cheese shop. Is it

### Iterate Multiple Sequences with zip()
* There’s one more nice iteration trick: iterating overmultiple sequences in parallel by using the zip() function.
* zip() stops when the shortest sequence is done.One of the lists (desserts) was longer than the others,so no one gets any pudding unless we extend the other lists.

In [11]:
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['banana', 'orange', 'Tandoori Chicken']
drinks = ['coffee', 'tea', 'beer']
desserts = ['tiramisu', 'ice cream', 'the farm', 'pudding']
for day, fruit, drink, dessert in zip(days, fruits, drinks, desserts):
    print(day, ": drink", drink, "- eat", fruit, "- enjoy", dessert)

Monday : drink coffee - eat banana - enjoy tiramisu
Tuesday : drink tea - eat orange - enjoy ice cream
Wednesday : drink beer - eat Tandoori Chicken - enjoy the farm

##### You can use zip() to walk through multiple sequences and make tuples from items at the same offsets. Let’s make two tuples of corresponding English and French words

In [14]:
english = 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'
french = 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag', 'Sonntag'

# Now, use zip() to pair these tuples. The value returned by zip() is itself not a tuple or list, 
# but an iterable value that can be turned into one:

print(list(zip(english, french)))

# Feed the result of zip() directly to dict() and voilà: a tiny English-French dictionary!
print(dict( zip(english, french) ))

[('Monday', 'Montag'), ('Tuesday', 'Dienstag'), ('Wednesday', 'Mittwoch'), ('Thursday', 'Donnerstag'), ('Friday', 'Freitag'), ('Saturday', 'Samstag'), ('Sunday', 'Sonntag')]
{'Monday': 'Montag', 'Tuesday': 'Dienstag', 'Wednesday': 'Mittwoch', 'Thursday': 'Donnerstag', 'Friday': 'Freitag', 'Saturday': 'Samstag', 'Sunday': 'Sonntag'}

### List Comprehension

In [15]:
# You could build a list of integers from 1 to 5, one item at a time, like this:
number_list = []
number_list.append(1)
number_list.append(2)
number_list.append(3)
number_list.append(4)
number_list.append(5)
number_list

[1, 2, 3, 4, 5]

In [20]:
# Or, you could also use an iterator and the range() function:
number_list1 = []
for number in range(1, 6):
    number_list1.append(number)
number_list1

[1, 2, 3, 4, 5]

In [21]:
# Or, you could just turn the output of range() into a list directly:
number_list2 = list(range(1, 6))
number_list2

[1, 2, 3, 4, 5]

#### All of these approaches are valid Python code and will produce the same result. However, a more Pythonic (and often faster) way to build a list is by using a list comprehension.The simplest form of list comprehension looks like this:
# <i>[expression for item in iterable]</i>
# <i>[expression for item in iterable if condition]</i>

In [22]:
number_list3 = [number-1 for number in range(1, 6)]
number_list3

[0, 1, 2, 3, 4]

In [26]:
# Gets all the odd numbers in the range
a_list = [number for number in range(1,10) if number % 2 == 0]
a_list

[2, 4, 6, 8]

In [27]:
# The above mention list comprehension can be written this was as well. But this one is an elaborated way.

a_list = []
for number in range(1, 20):
    if number % 2 == 1:
        a_list.append(number)
a_list

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [28]:
# Finally,just as there can be nested loops,there can be more than one set of for ... 
# clausesin the corresponding comprehension.
# To show this, let’s first try a plain oldnested loop and print the results:

rows = range(1,4)
cols = range(1,3)

for row in rows:
    for col in cols:
        print(row, col)

1 1
1 2
2 1
2 2
3 1
3 2

#### Now, let’s use a comprehension and assign it to the variable cells, making it a list of (row, col) tuples:

In [29]:
rows = range(1,4)
cols = range(1,3)

cells = [(row, col) for row in rows for col in cols]

for cell in cells:
    print(cell)

(1, 1)
(1, 2)
(2, 1)
(2, 2)
(3, 1)
(3, 2)

#### By the way, you can also use tuple unpacking to get the row and col values from each tuple as you iterate over the cells list:

In [30]:
for row, col in cells:
    print(row, col)

1 1
1 2
2 1
2 2
3 1
3 2

# Lists of Lists
* Lists can contain elements of different types, including other lists.

In [32]:
small_birds = ['hummingbird', 'finch']
extinct_birds = ['dodo', 'passenger pigeon', 'Norwegian Blue']
carol_birds = [3, 'French hens', 2, 'turtledoves']
all_birds = [small_birds, extinct_birds, 'macaw', carol_birds]
all_birds

[['hummingbird', 'finch'],
 ['dodo', 'passenger pigeon', 'Norwegian Blue'],
 'macaw',
 [3, 'French hens', 2, 'turtledoves']]

In [34]:
all_birds[1]

['dodo', 'passenger pigeon', 'Norwegian Blue']

In [35]:
all_birds[1][0]

'dodo'

# Tuples Versus Lists
##### You can often use tuples in place of lists,but they have many fewer functions—there is no append(), insert(), and so on—because they can’t be modified after creation.Why not just use lists instead of tuples everywhere?
* Tuples use less space.
* You can’t clobber tuple items by mistake.
* You can use tuples as dictionary keys.
* Named tuples can be a simple alternative to objects.

### There Are No Tuple Comprehensions 
* Mutable types (lists, dictionaries, and sets) have comprehensions.
* Immutable types like strings and tuples need to be created with the other methods listed in their sections.

In [36]:
# You might have thought that changing the square brackets ofa list comprehension to 
# parentheses would create a tuple comprehension.
# And it would appear to workbecause there’s no exception if you type this:
number_thing = (number for number in range(1, 6))
number_thing