# Lists

Lists are good for keeping track of things by their order,especially when the order and contents might change.Unlike strings,lists are mutable.You can change a list in place,add new elements,and delete or replace existing elements.The same value can occur more than once in a list.

In [ ]:
empty_list = []
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
big_birds = ['emu', 'ostrich', 'cassowary']
first_names = ['Deven', 'Pavithra', 'Dhrishti', 'Duganth', 'Ford']
leap_years = [2000, 2004, 2008]
randomness = ['Punxsatawney', {"groundhog": "Phil"}, "Feb. 2"]

##### Creating empty list

In [1]:
empty_list = []
another_empty_list = list()
print(empty_list)
print(another_empty_list)

[]
[]

##### Python’s list() function also converts other iterabledata types (such as tuples, strings, sets, and dictionaries) to lists.The following example converts a string to a list of one-character strings

### Converting a string to a list

In [2]:
list('apple')

['a', 'p', 'p', 'l', 'e']

### Converting a tuple to a list

In [3]:
a_tuple = ('ready', 'aim', 'fire')
list(a_tuple)

['ready', 'aim', 'fire']

### Creating List from a String using split()

In [5]:
someday = '9/19/2019' # Here '9/19/2019' is a string
someday.split('/') # Using split on the delimiter / converts the string to list

['9', '19', '2019']

##### What if you have more than one separator string in arow in your original string? 
##### Well, you get an emptystring as a list item:

In [6]:
splitme = 'a/b//c/d///e'
splitme.split('/')

['a', 'b', '', 'c', 'd', '', '', 'e']

##### If you had used the two-character separator string //, instead, you would get this

In [7]:
splitme = 'a/b//c/d///e'
splitme.split('//')

['a/b', 'c/d', '/e']

### <u>Get an Item by [ offset ]</u>

###### As with strings, you can extract a single value from a listby specifying its offset:

In [8]:
marxes = ['Groucho', 'Chico', 'Harpo']
print(marxes[0])
print(marxes[1])
print(marxes[2])

Groucho
Chico
Harpo

In [9]:
# Again, as with strings, negative indexes count backward from the end:
print(marxes[-1])
print(marxes[-2])
print(marxes[-3])

Harpo
Chico
Groucho

##### You'll get an exception if you try to access the offset that does not exist

In [16]:
print(marxes[-6])

IndexError: list index out of range

### <u>Slice</u>

In [10]:
marxes = ['Groucho', 'Chico', 'Harpo']
marxes[0:2]

['Groucho', 'Chico']

##### As with strings,slices can step by values other than one

In [11]:
marxes[::2]

['Groucho', 'Harpo']

##### Here, we start at the end and go left by 2:

In [12]:
marxes[::-2]

['Harpo', 'Groucho']

##### And finally, the trick to reverse a list:

In [13]:
marxes[::-1]

['Harpo', 'Chico', 'Groucho']

##### None of these slices changed the marxes listitself, because we didn’t assign them to marxes.To reverse a list in place,use list.reverse():

In [15]:
marxes = ['Groucho', 'Chico', 'Harpo']
marxes.reverse()
marxes

['Harpo', 'Chico', 'Groucho']

##### As you saw with strings, a slice can specify aninvalid index, but will not cause an exception.It will “snap” to the closest valid indexor return nothing:

In [17]:
marxes = ['Groucho', 'Chico', 'Harpo']
marxes[4:]

[]

In [18]:
marxes[-6:]

['Groucho', 'Chico', 'Harpo']

In [19]:
marxes[-6:-2]

['Groucho']

In [20]:
marxes[-6:-4]

[]

### Appending the List with append()
* The append() function adds items only to the end of the list.

In [21]:
family = ['Deven', 'Pavithra', 'Dhrishti']
family.append('Duganth')
family

['Deven', 'Pavithra', 'Dhrishti', 'Duganth']

### Add an Item by Offset with insert()
* When you want to add an item before any offset in the list,use insert().
* Offset 0 inserts at the beginning.
* An offset beyond the end of the list inserts at the end, like append(), so you don’t need to worry about Python throwing an exception:

In [22]:
family = ['Deven', 'Pavithra', 'Dhrishti']
print(family)
family.insert(3, 'Duganth')
print(family)
family.insert(7, 'Ford')

['Deven', 'Pavithra', 'Dhrishti']
['Deven', 'Pavithra', 'Dhrishti', 'Duganth']

### Duplicate All Items with *

In [23]:
["blah"] * 3

['blah', 'blah', 'blah']

### Combine Lists by Using extend() or +

In [26]:
fruits = ['apple', 'banana', 'mango', 'peach']
vegetables = ['potato', 'carrot', 'tomato']
fruits.extend(vegetables) # Note how the extend inbuilt function is used here
fruits

['apple', 'banana', 'mango', 'peach', 'potato', 'carrot', 'tomato']

In [27]:
fruits = ['apple', 'banana', 'mango', 'peach']
vegetables = ['potato', 'carrot', 'tomato']
fruits += vegetables  # Note how the + is used here
fruits

['apple', 'banana', 'mango', 'peach', 'potato', 'carrot', 'tomato']

### If we had used append(),otherswould have been added as a single list item rather than merging its items.
This again demonstrates that a list can contain elements of different types. In this case, four strings, and a list of two strings.

In [28]:
fruits = ['apple', 'banana', 'mango', 'peach']
vegetables = ['potato', 'carrot', 'tomato']
fruits.append(vegetables)
fruits # Note how vegetables is added as a seperate list item.

['apple', 'banana', 'mango', 'peach', ['potato', 'carrot', 'tomato']]

### Change an Item by [ offset ]
Just as you can get the value of a list itemby its offset,you can change it as well using the offset.

In [29]:
marxes = ['Groucho', 'Chico', 'Harpo']
print(marxes)
marxes[2] = 'Wanda'
print(marxes)

['Groucho', 'Chico', 'Harpo']
['Groucho', 'Chico', 'Wanda']

###### Again, the list offset number needs to be a valid one for this kind of operation. If not it will throw an exception like the one below

In [30]:
marxes = ['Groucho', 'Chico', 'Harpo']
print(marxes)
marxes[6] = 'Wanda'
print(marxes)

['Groucho', 'Chico', 'Harpo']

IndexError: list assignment index out of range

### Change Items with a Slice

In [1]:
numbers = [1, 2, 3, 4]
numbers[1:3] = [77, 88, 99]
numbers

[1, 77, 88, 99, 4]

###### The righthand thing that you’re assigning to the listdoesn’t even need to have the same number of elementsas the slice on the left:

In [2]:
numbers = [1, 2, 3, 4]
numbers[1:3] = []
numbers

[1, 4]

###### Actually, the righthand thing doesn’t even need to bea list.Any Python iterable will do,separating its items and assigning them to list elements:

In [3]:
numbers = [1, 2, 3, 4]
numbers[1:3] = (98, 99, 100)
numbers

[1, 98, 99, 100, 4]

In [5]:
numbers = [1, 2, 3, 4]
numbers[1:3] = 'wat?'
numbers

[1, 'w', 'a', 't', '?', 4]

### Delete an Item by Offset with del

In [7]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Gummo', 'Karl']
print(marxes[-1])
del marxes[-1]
print(marxes)

Karl
['Groucho', 'Chico', 'Harpo', 'Gummo']

When you delete an item by its position in the list,the items that follow itmove back to take the deleted item’s space,and the list’s length decreases by one.If we deleted 'Chico' from the last versionof the marxes list, we get this as a result:

In [8]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Gummo']
del marxes[1]
marxes

['Groucho', 'Harpo', 'Gummo']