# <u><b><i>Strings</i></b></u>
#### https://docs.python.org/3/library/stdtypes.html#string-methods

###### Creating a string with str() function:

In [2]:
str(98.9)

'98.9'

In [3]:
type(str(88))

str

In [4]:
str(True)

'True'

In [7]:
somestring = 'A man,\nA plan,\nA canal:\n\tPanama.'
somestring

'A man,\nA plan,\nA canal:\n\tPanama.'

In [8]:
print(somestring)

A man,
A plan,
A canal:
	Panama.

###### Escape Characters

In [9]:
testimony = "\"I did nothing!\" he said. \"Or that other thing.\"" # Nullfying the meaning of " where it is not needed.

In [10]:
testimony

'"I did nothing!" he said. "Or that other thing."'

In [11]:
print(testimony)

"I did nothing!" he said. "Or that other thing."

In [12]:
fact = "The world's largest rubber duck was 54'2\" by 65'7\" by 105'"
print(fact)

The world's largest rubber duck was 54'2" by 65'7" by 105'

### RAW Strings
###### Raw strings can be used to negate the meaning of the characters where it is not needed.

In [13]:
info = r'Type a \n to get a new line in a normal string'
print(info)

Type a \n to get a new line in a normal string

###### A raw string does not undo any real (not '\n') newlines:

In [14]:
poem = r'''Boys and girls, come out to play.... 
The moon doth shine as bright as day.'''

In [15]:
poem

'Boys and girls, come out to play.... \nThe moon doth shine as bright as day.'

In [16]:
print(poem)

Boys and girls, come out to play....
The moon doth shine as bright as day.

### Concatenation Of Strings

In [18]:
'Deven' + ' Suji'

'Deven Suji'

In [19]:
"My word! " "A gentleman caller!"

'My word! A gentleman caller!'

### Duplicate with *

In [20]:
start = 'Na ' * 4 + '\n'
middle = 'Hey ' * 3 + '\n'
end = 'Goodbye.'
print(start + start + middle + end)

Na Na Na Na
Na Na Na Na
Hey Hey Hey
Goodbye.

### Get a Character with []

In [21]:
letters = 'abcdefghijklmnopqrstuvwxyz'

In [22]:
letters[0]

'a'

In [23]:
letters[17]

'r'

In [25]:
letters[100] # We'll get an index error when we try to access an element in a sequence that does not exist.

IndexError: string index out of range

Because strings are immutable, you can’t insert a character directly into one or change the character at a specific index. Let’s try to change 'Henny' to 'Penny' and see what happens:

In [26]:
name = 'Henny'
name[0] = 'P'

TypeError: 'str' object does not support item assignment

Instead you need to use some combination of string functionssuch as replace() or a slice.

In [27]:
# REPLACE Method
name = 'Henny'
name.replace('H', 'P')

'Penny'

In [28]:
# You can see that the actual value of name did not change
name

'Henny'

In [30]:
# SLICING Method
'P' + name[1:]

'Penny'

### Get a Substring with a Slice

<b>You can extract a substring(a part of a string)from a string by using a slice.You define a slice by using square brackets,a start offset,an end offset,and an optional step count between them.You can omit some of these.The slice will include characters from offset start to one before end: </b>

### [:] extracts the entire sequence from start to end.
### [ start :] specifies from the start offset to the end.
### [: end ] specifies from the beginning to the end offset minus 1.
### [ start : end ] indicates from thestart offset to the end offset minus 1.
### [ start : end : step ]extracts from the start offset to the end offset minus 1, skipping characters by step.

<b>As before, offsets go 0, 1,and so on from the start to the right,and –1,–2,and so forth from the end to the left.If you don’t specify start, the slice uses 0 (the beginning).If you don’t specify end, it uses the end of the string.</b>

In [31]:
letters = 'abcdefghijklmnopqrstuvwxyz'

In [32]:
letters[:]

'abcdefghijklmnopqrstuvwxyz'

In [33]:
letters[20:]

'uvwxyz'

In [34]:
letters[10:]

'klmnopqrstuvwxyz'

In [35]:
letters[12:15]

'mno'

In [36]:
letters[-3:]

'xyz'

In [37]:
letters[18:-3]

'stuvw'

In [38]:
letters[-6:-2]

'uvwx'

In [39]:
letters[::7]

'ahov'

In [41]:
letters[4:20:3]

'ehknqt'

In [42]:
letters[19::4]

'tx'

In [43]:
letters[:21:5]

'afkpu'

In [44]:
letters[-1::-1] # Reversing the order

'zyxwvutsrqponmlkjihgfedcba'

In [49]:
letters[::-1] # Reversing the order

'zyxwvutsrqponmlkjihgfedcba'

In [50]:
letters[-50:]

'abcdefghijklmnopqrstuvwxyz'

In [51]:
letters[-51:-50]

''

In [52]:
letters[:70]

'abcdefghijklmnopqrstuvwxyz'

In [53]:
letters[70:71]

''

### Get Length with len()

In [54]:
len(letters)

26

In [55]:
empty = ""
len(empty)

0

### Split with split()

In [56]:
tasks = 'get gloves,get mask,give cat vitamins,call ambulance'
tasks.split(',')

['get gloves', 'get mask', 'give cat vitamins', 'call ambulance']

In [57]:
# If we do not specify the seperator, then by default the space will treated as the seperator
tasks.split()

['get', 'gloves,get', 'mask,give', 'cat', 'vitamins,call', 'ambulance']

### Combine by Using join()

In [59]:
crypto_list = ['Yeti', 'Bigfoot', 'Loch Ness Monster']
crypto_string = ', '.join(crypto_list)
print('Found some signing book deals:', crypto_string)

Found some signing book deals: Yeti, Bigfoot, Loch Ness Monster

### Substitute by Using replace()

In [60]:
whowent = "A man goes into a bar..."
whowent.replace('man', 'woman')

'A woman goes into a bar...'

In [61]:
whowent.replace('A ', 'A Famous ', 100)

'A Famous man goes into a bar...'

### Strip with strip()

In [63]:
world = "    earth    "
world

'    earth    '

In [65]:
world.strip()

'earth'

In [66]:
world.strip(' ')

'earth'

In [67]:
world.rstrip()

'    earth'

In [68]:
world.lstrip()

'earth    '

Besides no argument (meaning whitespace  characters)or a single character,you can also tell strip() to removeany character in a multicharacter string:

In [70]:
blurt = "What the...!!?"
blurt.strip('.?!W')

'hat the'

## Now this is INTERESTING

In [71]:
import string
string.whitespace

' \t\n\r\x0b\x0c'

In [72]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [73]:
blurt = "What the .....!!???"

In [74]:
blurt.strip(string.punctuation)

'What the '

In [81]:
prospector = "What in tarnation ...?\n?!!"
print(prospector)

What in tarnation ...?
?!!

In [82]:
prospector.strip(string.whitespace + string.punctuation)

'What in tarnation'

### Search and Select

In [2]:
poem = '''All that doth flow we cannot liquid name
Or else would fire and water be the same;
But that is liquid which is moist and wet
Fire that property can never get
Then 'tis not cold that doth the fire put out
But 'tis the wet that makes it die, no doubt.'''

In [3]:
len(poem)

249

In [4]:
poem.startswith('All')

True

In [6]:
poem.endswith('That\'s all, folks')

False

### find() and index()

#### Let’s find the offset of the first occurrence of the word the in the poem:

In [8]:
word = 'the'
poem.find(word)

73

In [9]:
poem.index(word)

73

In [10]:
word = 'the'
poem.rfind(word)

213

In [11]:
poem.rindex(word)

213

### What happens if we are looking for the word that does not exist?

In [12]:
word = 'duck' # The word duck is not there in the poem.
poem.find(word)

-1

In [13]:
poem.rfind(word)

-1

In [14]:
poem.index(word)

ValueError: substring not found

In [15]:
poem.rindex(word)

ValueError: substring not found

### Count of the repetition of the words.

In [16]:
word = 'the'
poem.count(word)

3

### Are all the characters in the poem either letters or numbers?

In [17]:
poem.isalnum()

False

## Case

In [18]:
setup = 'a duck goes into a bar......'

In [19]:
setup.strip('.')

'a duck goes into a bar'

In [20]:
setup.capitalize()

'A duck goes into a bar......'

In [21]:
setup.title()

'A Duck Goes Into A Bar......'

In [22]:
setup.upper()

'A DUCK GOES INTO A BAR......'

In [23]:
setup.lower()

'a duck goes into a bar......'

In [24]:
setup.swapcase()

'A DUCK GOES INTO A BAR......'

## Alignment

In [27]:
# Center the string with 30 spaces:
setup.center(100)

'                                    a duck goes into a bar......                                    '

In [28]:
setup.ljust(100)

'a duck goes into a bar......                                                                        '

In [29]:
setup.rjust(100)

'                                                                        a duck goes into a bar......'

# Formatting

### Old style: %
The old style of string formatting has the form format_string % data. Inside the format string are interpolation sequences.

|Symbol|Description|
|------|-----------|
|%s|string|
|%d|decimal integer|
|%x|hex integer|
|%o|octal integer|
|%f|decimal float|
|%e|exponential float|
|%g|decimal or exponential float|
|%%|a literal %|

In [1]:
'%s' % 42

'42'

In [2]:
'%d' % 42

'42'

In [3]:
'%x' % 42

'2a'

In [4]:
'%o' % 42

'52'

In [6]:
actor = 'Richard Gere'
cat = 'Chester'
weight = 28

In [7]:
"My wife's favorite actor is %s" % actor

"My wife's favorite actor is Richard Gere"

In [8]:
"Our cat %s weighs %s pounds" % (cat, weight)

'Our cat Chester weighs 28 pounds'

##### You can add other values in the format stringbetween the % and thetype specifier to designate minimum and maximum widths,alignment,and character ##### filling.This is a little language in its own right,and more limited than the one in the next two sections. Let’s take a quick look at these values:
* An initial '%' character.
* An optional alignment character: nothing or '+' means right-align, and '-' means left-align.
* An optional minwidth field width to use.
* An optional '.' character to separate minwidth and maxchars.
* An optional maxchars (if conversion type is s) saying how many characters to print from the data value. If the conversion type is f, this specifies precision (how many digits to print after the decimal point).
* The conversion type character from the earlier table.
##### See the below examples

### Formatting Strings the Old way with %s.

In [9]:
thing = 'woodchuck'

In [11]:
'%s' % thing # The value of the thing gets printed only after some space

'woodchuck'

In [12]:
'%12s' % thing # The value of the thing gets printed only after some space

'   woodchuck'

In [13]:
'%+12s' % thing

'   woodchuck'

In [14]:
'%-12s' % thing

'woodchuck   '

In [16]:
'%.6s' % thing

'woodch'

In [17]:
'%12.3s' % thing

'         woo'

In [18]:
'%-12.3s' % thing

'woo         '

### Formatting float the old way with %f.

In [20]:
thing = 98.6

In [21]:
'%f' % thing

'98.600000'

In [22]:
'%12f' % thing

'   98.600000'

In [23]:
'%+12f' % thing

'  +98.600000'

In [24]:
'%-12f' % thing

'98.600000   '

In [26]:
'%.1f' % thing

'98.6'

In [27]:
'%.3f' % thing

'98.600'

In [28]:
'%12.3f' % thing

'      98.600'

In [29]:
'%-12.3f' % thing

'98.600      '

### Formatting integer the old way with %d.

In [30]:
thing = 9876

In [31]:
'%d' % thing

'9876'

In [32]:
'%12d' % thing

'        9876'

In [33]:
'%+12d' % thing

'       +9876'

In [34]:
'%-12d' % thing

'9876        '

In [35]:
'%.3d' % thing

'9876'

In [36]:
'%12.3d' % thing

'        9876'

In [37]:
'%-12.3d' % thing

'9876        '

## New style: {} and format()

In [38]:
thing = 'woodchuck'

In [39]:
'{}'.format(thing)

'woodchuck'

In [41]:
place = 'lake'
'The {} is in the {}'.format(thing, place)

'The woodchuck is in the lake'

#### With new-style formatting,you can also specify the arguments by position like this:

In [43]:
'The {1} is in the {0}.'.format(place, thing)
# The value 0 referred to the first argument, place, and 1 referred to thing.

'The woodchuck is in the lake.'

#### The arguments to format() can also be named arguments

In [44]:
'The {thing} is in the {place}'.format(thing='duck', place='bathtub')

'The duck is in the bathtub'

#### or a dictionary:

In [45]:
d = {'thing': 'duck', 'place': 'bathtub'}

In [46]:
'The {0[thing]} is in the {0[place]}.'.format(d)

'The duck is in the bathtub.'

#### New-style formatting has a slightly different format stringdefinition from the old-style one.
*   An initial colon (':').

*   An optional fill character (default ' ') to pad the value string if it’s shorter than minwidth.

*   An optional alignment character. This time, left alignment is the default. '<' also means left, '>' means right, and '^' means center.

*   An optional sign for numbers. Nothing means only prepend a minus sign ('-') for negative numbers. ' ' means prepend a minus sign for negative numbers, and a space (' ') for positive ones.

*   An optional minwidth. An optional period ('.') to separate minwidth and maxchars.

*   An optional maxchars.

*   The conversion type.

In [47]:
thing = 'wraith'
place = 'window'

In [48]:
'The {} is at the {}'.format(thing, place)

'The wraith is at the window'

In [49]:
'The {:10s} is at the {:10s}'.format(thing, place)

'The wraith     is at the window    '

In [50]:
'The {:<10s} is at the {:<10s}'.format(thing, place)

'The wraith     is at the window    '

In [53]:
'The {:^10s} is at the {:^10s}'.format(thing, place)

'The   wraith   is at the   window  '

In [54]:
'The {:>10s} is at the {:>10s}'.format(thing, place)

'The     wraith is at the     window'

In [55]:
'The {:!^10s} is at the {:!^10s}'.format(thing, place)

'The !!wraith!! is at the !!window!!'

## Newest Style: f-strings

In [56]:
thing = 'knife'
fruit = 'apple'
f'The {thing} fell on the {fruit}'

'The knife fell on the apple'

In [57]:
f'The {fruit} fell on the {thing}'

'The apple fell on the knife'

#### Expressions are also allowedinside the curly brackets

In [58]:
f'The {fruit.upper()} fell on the {thing.upper()}'

'The APPLE fell on the KNIFE'

##### This means that the things that you could do inside format()in the previous section,you can now do inside a {} in your main string.This seems easier to read. f-strings use the same formatting language (width, padding, alignment) as new-style formatting, after a ':'.

In [59]:
f'The {thing:>20} is in the {place:.^20}'

'The                knife is in the .......window.......'

##### Starting in Python 3.8, f-strings gain a new shortcutthat’s helpful when you want to print variablenames as well as their values.This is handy when debugging.The trick is to have a single =after the name in the {}-enclosedpart of the f-string:

In [63]:
f'{thing =}, {place =}'

In [65]:
f'{thing[-4:] =}, {place.title() =}'

In [67]:
f'{thing = :>4.4}'

In [4]:
import os
os.getcwd()

'C:\\Users\\sujide01\\Documents\\MasteringPython\\IntroducingPython2ndEdition'

In [5]:
hostname = os.system('mkdir today')

## Self Check

#### Capitalize the word starting with m:

In [45]:
song = """When an eel grabs your arm,
    And it causes great harm,
    That's - a moray!"""
([x for x in song.split(" ") if x.startswith('m')])[0].capitalize()

'Moray!'