# Tuples

#### Tuples are immutable.
#### Lists are mutable.

In [1]:
# Empty tuple
empty_tuple = ()
empty_tuple

()

In [5]:
# To make a tuple with one or more elements, follow each element with a comma. This works for one-element tuples. 
# You could enclose them in parentheses and still get the same tuple:
one_marx = 'Groucho', # Tuple created without enclosing the value inside (). But do note of the comma.
print(one_marx)
print(type(one_marx))
one_marx = ('Groucho',) # Tuple created with the value inside (). Do note of the comma again.
print(one_marx)
print(type(one_marx))

('Groucho',)
<class 'tuple'>
('Groucho',)
<class 'tuple'>

##### Here’s a little gotcha:if you have a single thing in parenthesesand omit that comma, you would not get a tuple,but just the thing(in this example, the string 'Groucho'):

In [6]:
marx_tuple = ('Groucho', 'Chico', 'Harpo')
print(marx_tuple)

('Groucho', 'Chico', 'Harpo')

### Tuples let you assign multiple variables at once. This is also called TUPLE UNPACKING

In [9]:
octuple = ('Groucho', 'Chico', 'Harpo')
a, b, c = octuple
print(a)
print(b)
print(c)

Groucho
Chico
Harpo

##### You can use tuples to exchange values in one statement without using a temporary variable:

In [10]:
password = '5w0rdf!5h'
icecream = 'tuttifrutti'
password, icecream = icecream, password
print(password)
print(icecream)

tuttifrutti
5w0rdf!5h

### Converting a LIST to a TUPLE

In [12]:
somelist = ['Groucho', 'Chico', 'Harpo']
print(tuple(somelist))
type(tuple(somelist))

('Groucho', 'Chico', 'Harpo')

tuple

### Combining Tuple using +
This is similar to combining strings:

In [13]:
('Groucho',) + ('Chico', 'Harpo')

('Groucho', 'Chico', 'Harpo')

### Creating Duplicate Items with *
This is like repeated used of +:

In [14]:
('yada',) * 3

('yada', 'yada', 'yada')

### Comparing Tuples

In [16]:
a = (7, 2)
b = (7, 2, 9)
print(a == b)
print(a <= b)
print(a < b)

False
True
True

### Iterating with FOR and IN

In [17]:
words = ('fresh','out', 'of', 'ideas')
for word in words:
    print(word)

fresh
out
of
ideas

### Modify a Tuple
You can’t! Like strings, tuples are immutable,so you can’t change an existing one.As you saw just before,you can concatenate (combine) tuples to make a new one,as you can with strings:

In [26]:
t1 = ('Fee', 'Fie', 'Foe',)
t2 = ('Flop',)
t1 + t2

('Fee', 'Fie', 'Foe', 'Flop')

In [2]:
t1 = ('Fee', 'Fie', 'Foe',)
t2 = ('Flop',)
print(id(t1))
t1 += t2
print(t1)
print(id(t1))
# As you can see that the id of the t1 varies which meants a new t1 was created

1874012565976
('Fee', 'Fie', 'Foe', 'Flop')
1874012533608