# Sets

In [1]:
s = set()

In [2]:
s.add(1)
print(s)

{1}

In [3]:
s.add(2)
print(s)

{1, 2}

In [4]:
# Set can contain only one copy of an element.
s.add(1)
print(s)

{1, 2}

In [5]:
s.clear()

In [6]:
print(s)

set()

In [7]:
s = {1,2,3}

In [8]:
c = s.copy()
print(c)

{1, 2, 3}

In [9]:
s.add(4)
print(s)
print(c)

{1, 2, 3, 4}
{1, 2, 3}

In [10]:
s.difference(c)

{4}

In [12]:
s1 = {1, 2, 3}
s2 = {1, 4, 5}
s1.difference_update(s2)
s1

{2, 3}

In [15]:
s.discard(2)
print(s)

{1, 3, 4}

# Set Intersection

In [16]:
s1 = {1,2,3}
s2 = {1,2,4}
s1.intersection(s2)

{1, 2}

In [19]:
# Makes/Modifies the first set equal to the intersection
s1 = {1,2,3}
s2 = {1,2,4}
s1.intersection_update(s2)
print(s1)

{1, 2}

In [20]:
s1 = {1, 2}
s2 = {1, 2, 4}
s3 = {5}

In [21]:
# This method returns true if two sets have NULL intersection
s1.isdisjoint(s2)

False

In [22]:
s1.isdisjoint(s3)

True

In [23]:
# Subset
s1.issubset(s2)

True

In [24]:
# Superset
s2.issuperset(s1)

True

In [25]:
# Symmertic Difference
s1

{1, 2}

In [26]:
s2

{1, 2, 4}

In [27]:
s1.symmetric_difference(s2)

{4}

In [28]:
s1.symmetric_difference_update(s2)
print(s1)

{4}

In [32]:
# Union Method
# It combines the set and returns the output
s1 = {1, 2, 3,4, 5, 6}
s2 = {1, 2, 3,4, 5, 6, 7, 8}

In [33]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [37]:
s1.update(s2)
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8}