# LAMBDA EXPRESSION

In [1]:
def square(num):
    result = num ** 2
    return result

In [2]:
square(9)

81

#### Now step by step we'll reduce the above function to a LAMBDA EXPRESSION

In [4]:
# Getting rid of placing the output to the variable result and returing it on a seperate line
def square(num):
    return num ** 2

In [5]:
square(2)

4

In [ ]:
# Reducing the function to single line
def square(num): return num ** 2

In [7]:
apple = lambda num: num ** 2

In [8]:
apple(5)

25

## Using the LAMBDA function with MAP

In [11]:
mynums = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
list(map(lambda num:num ** 2, mynums))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

## Using the LAMBDA function with FILTER

In [13]:
def check_even(num):
    return num % 2 == 0

In [14]:
lambda num:num % 2 == 0

In [15]:
list(filter(lambda num:num % 2 == 0,mynums))

[2, 4, 6, 8]

In [24]:
names = ['Deven', 'Pavithra', 'Dhrishti', 'Duganth']

In [27]:
list(map(lambda x:x[0:2],names))

['De', 'Pa', 'Dh', 'Du']