# Range Operator

In [1]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
for i in range(2, 10):
    print(i)

2
3
4
5
6
7
8
9

In [4]:
for i in range(0, 11, 2):
    print(i)

0
2
4
6
8
10

In [7]:
range(0, 11, 2) # You see you do not get the expected value.

range(0, 11, 2)

In [11]:
# Now you get the expected value
list(range(0, 11, 2))

[0, 2, 4, 6, 8, 10]

# Enumerate

In [16]:
# Old School Way
index_count = 0

for i in 'ThePersuitOfHappyNess':
    print(f'At index {index_count} the letter is {i.upper()}.')
    index_count += 1

At index 0 the letter is T.
At index 1 the letter is H.
At index 2 the letter is E.
At index 3 the letter is P.
At index 4 the letter is E.
At index 5 the letter is R.
At index 6 the letter is S.
At index 7 the letter is U.
At index 8 the letter is I.
At index 9 the letter is T.
At index 10 the letter is O.
At index 11 the letter is F.
At index 12 the letter is H.
At index 13 the letter is A.
At index 14 the letter is P.
At index 15 the letter is P.
At index 16 the letter is Y.
At index 17 the letter is N.
At index 18 the letter is E.
At index 19 the letter is S.
At index 20 the letter is S.

In [21]:
# New Way
word = 'ThePersuitOfHappyNess'

for i,j in enumerate(word):
    print(f'At index {i} the aplhabet is {j.upper()}')

At index 0 the aplhabet is T
At index 1 the aplhabet is H
At index 2 the aplhabet is E
At index 3 the aplhabet is P
At index 4 the aplhabet is E
At index 5 the aplhabet is R
At index 6 the aplhabet is S
At index 7 the aplhabet is U
At index 8 the aplhabet is I
At index 9 the aplhabet is T
At index 10 the aplhabet is O
At index 11 the aplhabet is F
At index 12 the aplhabet is H
At index 13 the aplhabet is A
At index 14 the aplhabet is P
At index 15 the aplhabet is P
At index 16 the aplhabet is Y
At index 17 the aplhabet is N
At index 18 the aplhabet is E
At index 19 the aplhabet is S
At index 20 the aplhabet is S

# ZIP
+ Zips(Combines) two lists together
+ What happens when the lists have uneven number of elements in it?
    + It will show the same number of elements that a list with least element.

In [22]:
count = [10, 20, 30]
fruits = ['Apple', 'Banana', 'Guava']

for item in zip(count,fruits):
    print(item)

(10, 'Apple')
(20, 'Banana')
(30, 'Guava')

In [23]:
count = [10, 20, 30]
colour = ['Red', 'Yellow', 'Green', 'Orange', 'Blue']
fruits = ['Apple', 'Banana', 'Guava']

for item in zip(count,colour,fruits):
    print(item)

(10, 'Red', 'Apple')
(20, 'Yellow', 'Banana')
(30, 'Green', 'Guava')

In [24]:
list(zip(count,colour,fruits))

[(10, 'Red', 'Apple'), (20, 'Yellow', 'Banana'), (30, 'Green', 'Guava')]

# IN Operator

In [25]:
colour = ['Red', 'Yellow', 'Green', 'Orange', 'Blue']

In [26]:
'Red' in colour

True

In [27]:
'Black' in colour

False

In [28]:
'mykey' in {'mykey':345}

True

In [29]:
d = {'mykey':345}
345 in d.values()

True

In [30]:
'mykey' in d.keys()

True

In [31]:
numbs = [10, 20, 30, 40, 50, 60, 70, 80, 90]

In [32]:
min(numbs)

10

In [33]:
max(numbs)

90

# RANDOM

In [34]:
from random import shuffle

In [42]:
l = [1, 2, 3, 4, 5, 6]
shuffle(l)
l

[1, 4, 3, 6, 5, 2]

In [48]:
from random import randint
randint(0, 10)

7

# Accepting User Input

In [53]:
result = input('Enter your networth for year 2031: ')

In [55]:
result

'4500000000'

In [56]:
type(result)

str

In [57]:
int(result)

4500000000

In [58]:
type(int(result))

int

In [61]:
float(result)

4500000000.0

In [63]:
type(float(result))

float