# <u> TUPLE </u>

### Note: Tuple is an immutable object.
### NOTE: A TUPLE can be defined with or without parenthesis. Then how is tuple identified as a tuple?
### A tuple is identified as a tuple if it has a comma seperating the values in it.
### However as a best practice, use the parenthesis always.

In [ ]:
student_tuple = () # Empty tuple

In [ ]:
student_tuple

In [ ]:
len(student_tuple)

In [ ]:
student_tuple = 'Deven', 'Suji', 4.8

In [ ]:
type(student_tuple) # Verifying if student_tuple is of data type tuple

In [ ]:
student_tuple

### If a variable with one value needs to be presented as tuple, then just add COMMA at the end of the data. See the below example.

In [ ]:
a_single_tuple = ('Red',) # A tuple with just one element.

In [ ]:
type(a_single_tuple)

In [ ]:
a_single_tuple

## <u> ACCESSING A TUPLE </u>

#### The elements of a tuple can be accessed the same way as list or string object by using the square bracket and the index number.

In [ ]:
student_tuple[0]

In [ ]:
time_tuple = (9, 16, 1) # This tuple represents hours minutes and second.

In [ ]:
time_tuple

In [ ]:
time_tuple[0] * 3600 + time_tuple[1] * 60 + time_tuple[2] # Calculating the number of seconds in the above mentioned tuple.

## <u> Modifying a tuple </u>

In [ ]:
tuple1 = (10, 20, 30)

In [ ]:
tuple2 = tuple1

In [ ]:
tuple1

In [ ]:
tuple2

In [ ]:
id(tuple1)

In [ ]:
id(tuple2)

In [ ]:
tuple1 += (40, 50)

In [ ]:
tuple1

In [ ]:
tuple2

### <u> Merging a List and Tuple </u>

In [ ]:
numbers = [1, 2, 3, 4, 5] # This is the list

In [ ]:
numbers += (6, 7) # Modifying the List by ITERATING over the tuple and adding each element of the tuple to the list

In [ ]:
numbers

In [ ]:
student_tuple = ('Deven', 'Suji', [98, 99, 97])
# Here the tuple has three elements
# Element 1 = Deven
# Element2 = Suji
# Element3 = [98, 99, 97]

In [ ]:
student_tuple

In [ ]:
student_tuple[2][2] = 99 # Chainging the 3rd element of the list which is the 3rd element in the tuple.

In [ ]:
student_tuple

## <u> Self Check </u>
* Create a single element tuple containing 123.45 and display it.
* Show what happens when you attempt to concatenate sequences of different types - the list [1, 2, 3] and the tuple (4, 5, 6) -using the + operator

In [ ]:
single = (123.45,)

In [ ]:
single

In [ ]:
[1, 2, 3] + (4, 5, 6) # This will throw an error as the data types list and tuple are different.

In [ ]:
# Here is how to concatenate a list and a tuple.
numbers = [1, 2, 3]

In [ ]:
numbers += (4, 5, 6)

In [ ]:
numbers